body {
    background-image: url("https://i.pinimg.com/736x/a0/f3/60/a0f360a3d551050d86444249233e54c7--tattoo-phoenix-phoenix-tattoo-feminine.jpg");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
    background-position: center;
    background-size: cover;
    height: 500px;
}